/dist/
nbproject/private/private.properties

nbproject/private/private.xml

*.properties

nbproject/private/private.xml

*.class

build/classes/.netbeans_automatic_build

build/classes/.netbeans_update_resources

build/classes/org/insa/chatsystem/controller/*.class

nbproject/private/*.properties

build/*.properties

build/classes/.netbeans_automatic_build


*.class
